* {
    box-sizing: border-box;
}

h3, h4 {
    padding: 0;
    margin: 0;
}


body { 
    color: #333;
}

.centered {
    margin: 0 auto;
    width: 35%;
}

.tweet { 
    width: 100%;
    height: 150px;
    margin: 25px 0;   
    background-color: #E0EAEA;
    padding: 5px;
    border-radius: 10px;}

.tweet-body { 
    text-align: center;
    margin: 3px;
}

