.centered {
    margin: 0 auto;
    width: 35%;
}

.tweets { 
    
}

.tweet { 
    width: 100%;
    height: 150px;
    margin: 25px 0;   
    background-color: #E0EAEA;
    padding: 5px;
    box-sizing: border-box;
    
}

.tweet-author { 
    font-style: italic;
    color: #467373;
}

.tweet-body { 
    text-align: center;
    margin: 3px;
}



h3, h4 {
    padding: 0;
    margin: 0;
}